.left {
    position: relative;
    box-sizing: border-box;
    width: auto;
    height: 1000px;
    overflow: auto;
    align-content: center;
    vertical-align: middle;
    padding: 1% 0 0 15%;
    vertical-align: middle;
    
  }