
<div class="w3-twothird w3-container" style="text-align: center !important;width: 75% !important;">
    <h1 >
        <span *ngIf="!isSubmitted">Set your ad creative</span>
        <span  *ngIf="isSubmitted">Congratulations!</span>
      </h1> 
      <h3>
        <span *ngIf="!isSubmitted"
         style="color:#1156cc;font-size:18px !important;">
          Now that you've reserved your placements, tell us what ad creative we should put into rotation.
        </span>
        <span *ngIf="isSubmitted" style="text-align: center;color:#1156cc;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;">
          Your Seattle Broad - May 2018 campaign is set to go live on May 20, 2018
        </span>
      </h3>
      <div class="submitLeft" *ngIf="isSubmitted">
          <div style="background-color:  #e7effc;; height: 60px;">
              <span style="color:orange; font-weight: 900;font-size: 16px !important;"><br>
                Your ad creative has been submitted for approval.
              </span>  <br>
              <br />
              <div style="color:#1156cc;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> 
                <i> You will receive an email notification when all creative has been approved. You can make updates to your ad create at any time by going to your dashboard and clicking "Edit Ad" for this campaign.</i>
              </div>
              <br>
              <br />
              <span ><button mat-raised-button color="primary" (click)="onDashboard($event)">GO TO DASHBOARD</button></span>
          </div>
        </div>
    <div *ngIf="!isSubmitted"  style="font-size: 20px;">
        How would you like to select: <br/><br>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="adlibrary">Choose from Ad Library</mat-button-toggle>
            <mat-button-toggle value="upload">Upload new creative</mat-button-toggle>
        </mat-button-toggle-group> <br>
        <span style="color:orange;"><br>
          Note: All new creative must be reviewed and approved. This will take 24-48 hours.
        </span><br><br>
      </div> 
      <div *ngIf="!isSubmitted" 
       >
        <div >
            <button  mat-raised-button color="primary">Click to upload</button>
          
            <div >
              <span>Drag files here</span>
            </div>
        </div>
        <br>
      </div>
      <div *ngIf="!isSubmitted" 
        >
        <a>[Advanced] Schedule creative by week</a> <br><br>
        <button mat-raised-button color="primary"  style="width: 300px;"  (click)="onSubmit($event)">SUBMIT FOR APPROVAL</button>
        <br><br/>
        <span style="font-size: 14px;">
          <b>Not ready to select an ad creative?</b><br>
          <span>No Problem! Just add it later from your Dashboard.</span><br>
          <span>Note: Ad creative must be added no later than <br>48 hours prior to your campaign start date.</span>
        </span>
      </div>

</div>


<div class="w3-third w3-container" style="background-color:#e7effc;height:92vh !important;width: 25% !important;padding:5%  3% 3% 2%">
    <div *ngIf="!isSubmitted"  style="text-align: center; font-size: 20px;">
        <b> Ad Guidelines</b><br/>
     </div>
     <div *ngIf="!isSubmitted"  style="width: 230px; height: 230px; padding-left: 20px; padding-top: 20px;">
       <img width="230px" height="230px" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo">
       <br/><br/>
     </div>
     <div  *ngIf="!isSubmitted" style="text-align: center; font-size: 20px;padding: 25px;">
       <b>Design Specs:</b><br/><br />
       10 X 400 pixels <br/>
       Min X resolution <br />
       jpg, png<br />
     </div> 
     <div *ngIf="isSubmitted"  style="text-align: center; font-size: 20px;">
      
     <div >
       <img width="230px" height="230px" mat-card-image src="https://material.angular.io/assets/img/examples/shibssa2.jpg" alt="Photo In Progress">
       <br/><br/>
     </div>
     </div>

   
</div>
