.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.8;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

/* active buttons */
#status-buttons a.active span.round-tabs.one { 
    background: rgb(34, 194, 34); 
    color: #fff
}

#status-buttons a.active span.round-tabs.two { 
    background: #febe29; 
    color: #fff
}

#status-buttons a.active span.round-tabs.three { 
    background: #3e5e9a; 
    color: #fff
}

#status-buttons a.active span.round-tabs.four { 
    background: #f1685e; 
    color: #fff
}


.iradio_buttons {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: #febe29 no-repeat;
    border: none;
    cursor: pointer;
}
.iradio_buttons {
    background-position: -120px 0;
}
.iradio_buttons.hover {
    background-position: -144px 0;
}
.iradio_buttons.checked {
    background-position: -168px 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}




h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  margin-left: 20px;;
  width: 140px;
  height: 32px;
  background: #1156cc;
  border: none;
  box-shadow: #222;
  border-radius: 4px;
  color: #FFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
`
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}




button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}




.submitleft {
  position: absolute;
  box-sizing: border-box;
  padding: 70px;
  margin-right: 40px;
  width: 500px;
  height: 900px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  margin-left: 20px;;
  width: 140px;
  height: 32px;
  background: #1156cc;
  border: none;
  box-shadow: #222;
  border-radius: 4px;
  color: #FFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
`
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}






button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}





h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  margin-left: 20px;;
  width: 140px;
  height: 32px;
  background: #1156cc;
  border: none;
  box-shadow: #222;
  border-radius: 4px;
  color: #FFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
`
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.mat-tab-body-content 
{
  overflow:  hidden !important;
}

.mat-step-label
{
  font-size: 18px !important;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 8% 0 0 2%;
  min-width: 350px;
  width: auto;
  max-width: 350px;
  height: 100%;
  background-size: contain;
  background-position: center;
  border-radius: 2px 2px 2px 0;
  background-color: #e7effc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px !important;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;

}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow: hidden;
}

#login-box {
  position: relative;
  width: 100%;
  height: auto;
  scroll-behavior: auto;
  background: #FFF;
  overflow: hidden;
}
h1
{
  color:#1156cc;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 50px !important;
 font-weight: 1000;
}
.left {
  position: relative;
  box-sizing: border-box;
  width: auto;
  height: 1000px;
  overflow: auto;
  align-content: center;
  vertical-align: middle;
  padding: 1% 0 0 35%;
  vertical-align: middle;
  
}
.mat-vertical-content
{
  padding: 0 !important;
}
.mat-step-icon-not-touched
{
  color: #1156cc !important;
  background-color: #1156cc !important;
}
h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 300px;
  height:25px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  margin-left: 20px;;
  
  background: #1156cc;
  border: none;
  box-shadow: #222;
  border-radius: 6px;
  color: #FFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
`
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}






button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}

.mat-grid-tile {
    border: 1px solid blue;
}

.example-card {
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.box{
  left:1%;
  right:1%;
  background-color:#fff;
  color:#7F7F7F;
  padding:20px;
  border:1px solid #ccc;
  -moz-border-radius: 20px;
  -webkit-border-radius:20px;
  -khtml-border-radius:20px;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
  z-index:101;
  margin: 4px;
}
a.boxclose{
  float:right;
  margin-top:-30px;
  margin-right:-30px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;       
}

.boxclose:before {
  content: "×";

}

#tilecontainer {
  top: 5px;
  width: 910px;
  height: 180px;
  overflow: scroll;
  scroll-behavior: auto;
  position: relative;
  display: block;
  padding: 10px;
}

/* Mat-Tab Styles */
.mat-tab-header
{
    background-color:#1156cc !important;
    color: white !important;
    
}
.mat-tab-label-content
{
    color:white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a 
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.label
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.mat-drawer-content
{
  overflow: hidden !important;
}

.mat-drawer-container mat-sidenav-container 
{
  height: 100% !important;
  display: inline !important;
  background-color: white !important;
}
.mat-drawer-container
{
  display: inline !important;
  background-color: white !important;
}

.span
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.mat-tab-label, .mat-tab-link
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

mat-sidenav-container.m2app-dark {
  background: black;
}

.app-content {
  padding: 230px;
  vertical-align: middle;
}

.app-content mat-card {
  margin: 5px;
}

.app-sidenav {
  min-width: 200px;
}

.app-content mat-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}


.app-fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
  padding: 0 5px;
}

.app-menu-button {
  padding: 0;
  min-width: 50px;
}
.app-button {
  margin: 5px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
}

.app-progress {
  margin: 5px;
}

.example-h2 {
  margin: 10px;
  color: #1156cc;
  text-align: center;
  text-decoration-color: blue;
  font-weight: bold;
  font-size: 3em;
  vertical-align: middle;
}

.example-h4 {
  text-align: center;
  color: #1156cc;
  font-weight: normal;
  font-size: 2em;
  vertical-align: middle;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

mat-chip {
  max-width: 200px;
}

.app-sidebar-button {
  width: inherit;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-tab-label-content
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
input::placeholder {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mat-tab-nav-bar
{
  background-color: #1156cc !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: 800;
  font-size: 18px;
}
..mat-tab-link
{
  color: white;
  font-weight: 500 ;
  font-size: 20px;
}
.mat-tab-label, .mat-tab-link
{
  color: white;
  font-weight: 500 ;
  font-size: 20px;
}
button {
  width: auto;
	align-content: center;
	vertical-align: middle;
  background-color: #1156cc;
  font-size: 15px;
  color: #fff !important;
  padding: 10px;
  border-radius: 8px;
  border-color:white;
  border-width: 2px;
  text-transform: uppercase;
}
.mat-form-field-underline ng-tns-c10-2 ng-star-inserted
{
  color:white;
}
/* Mat-Tab Styles */