<mat-tab-group [(selectedIndex)]="index" >
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">home</mat-icon>

    </ng-template>
  </mat-tab>
  <mat-tab label=" My Clients">
    <div style="padding:10px 0 0 40%;">
      <h2>Choose a client</h2>
      <ul style="font-size: 18px;">
        <li>
          <a>Coca Cola</a>
        </li>
        <li>
          <a>Queen Anne Dentists</a>
        </li>
        <li>
          <a>Seattle REIT Developers</a>
        </li>
        <li>
          <a>Donner & Blitzen L.L.C.</a>
        </li>
      </ul>

      <input type="submit" name="signup_submit" value="ADD NEW CLIENT" />

    </div>


  </mat-tab>
  <mat-tab label="Dashboard"> Dashboard </mat-tab>
  <mat-tab label=" Ad Library"> Ad Library </mat-tab>

  <mat-tab label=" Update Profile">
    <br/>
    <app-about-business *ngIf="!isAddAgency"></app-about-business>
  </mat-tab>
</mat-tab-group>