<mat-tab-group [(selectedIndex)]="index" >
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">home</mat-icon>

    </ng-template>
  </mat-tab>
  <mat-tab label=" My Clients">
    <div style="padding:10px 0 0 40%;">
      <h1>Choose a client</h1>
      <ul style="font-size: 18px;">
        <li>
          <a>Coca Cola</a>
        </li>
        <li>
          <a>Queen Anne Dentists</a>
        </li>
        <li>
          <a>Seattle REIT Developers</a>
        </li>
        <li>
          <a>Donner & Blitzen L.L.C.</a>
        </li>
      </ul>

      <input type="submit" name="signup_submit" value="ADD NEW CLIENT" />

    </div>


  </mat-tab>
  <mat-tab label="Dashboard">
     <h1  style="padding: 1% 0 0 35%;">Select a campaign for more details</h1>
    <br/>
    <div class="button-row" style="justify-content: center; display: flex;">
      <button mat-raised-button color="primary" 
      >CREATE NEW CAMPAIGN</button>
    </div>
   </mat-tab>
  <mat-tab label=" Ad Library"> <div>
      <h1 
      style="padding: 1% 0 0 35%;"> 
        <span>View or upload new ad creative here</span>
      </h1>
        <br>
      <div >
        <div style="text-align: center; font-size: 20px;">
            <button mat-raised-button color="primary">UPLOAD NEW CREATIVE</button>
        </div> <br /><br /><br />
        <table style="font-size: 20px; margin-left:45%;">
          <tr>
            <b>Active</b><br/>
          </tr>
          <tr>
            <a style="margin-left: 20px;">With Phone Number</a><br />
          </tr>
          <tr> &nbsp;</tr>
          <tr>
            <b>Not active</b><br />
          </tr>
          <tr>
              <a style="margin-left: 20px;">With brand slogan - May 2018</a><br />
              <a style="margin-left: 20px;">With our headshots</a>
          </tr>
        </table>
      </div>
    </div>
     </mat-tab>

  <mat-tab label=" Update Profile">
    <br/>
    <app-about-business *ngIf="!isAddAgency"></app-about-business>
  </mat-tab>
</mat-tab-group>