.mat-grid-list
{
    position: static;
}



#login-box {
  position: relative;
  width: 100%;
  height: auto;
  scroll-behavior: auto;
  background: #FFF;
  overflow: hidden;
}

  .right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0% 0 0 2%;
    min-width: 350px;
    width: auto;
    max-width: 350px;
    height: 100%;
    background-size: contain;
    background-position: center;
    border-radius: 2px 2px 2px 0;
    background-color: #e7effc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px !important;
  }
  
  .right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
  
  }
.col-sm-3
{
  margin-top:10px !important;
}
  .left {
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 800px;
    overflow: scroll;
    align-content: center;
    vertical-align: middle;
    padding: 0% 0 0 18%;
    vertical-align: middle;
    
  }
  .mat-grid-tile .mat-figure
  {
    width: 20px !important;
  }